<div class="wrapper">
  <div class="intro">I have not failed. I've just found 10,000 ways that won't work.</div>
  <div class="intro">~ Myself whilst learning Ruby on Rails (and also Thomas A. Edison)</div>
  <ul class="social">
    <li><a class="rss" href="#"></a></li>
    <li><a class="facebook" href="#"></a></li>
    <li><a class="twitter" href="#"></a></li>
    <li><a class="pinterest" href="#"></a></li>
    <li><a class="dribbble" href="#"></a></li>
    <li><a class="flickr" href="#"></a></li>
    <li><a class="linkedin" href="#"></a></li>
  </ul>
  <div class="blog-wrap">
    <div class="blog-grid">


      <% @posts.each do |post| %>

          <% if post.posttype.to_sym == :text %>
              <div class="post format-standard box">
                <h2 class="title"><a href="post.html"><%= post.title %></a></h2>
                <p><%= post.body %></p>
                <div class="details"> <span class="icon-standard"><a href="#"><%= post.created_at.strftime("%A %d. %Y") %></a></span> <span class="likes"><a href="#" class="likeThis">11</a></span> <span class="comments"><a href="#">0</a></span> </div>
              </div>
          <% elsif post.posttype.to_sym == :image %>
              <div class="post format-image box">
                <div class="frame"> <a href="post.html"> <%= image_tag post.image.url(:small), alt: "" %> </a> </div>
                <h2 class="title"><a href="post.html"><%= post.title %></a></h2>
                <p><%= post.body %></p>
                <div class="details"> <span class="icon-image"><a href="#"><%= post.created_at.strftime("%A %d. %Y") %></a></span> <span class="likes"><a href="#" class="likeThis">44</a></span> <span class="comments"><a href="#">3</a></span> </div>
              </div>
          <% elsif post.posttype.to_sym == :quote %>
              <div class="post format-quote box">
                <blockquote><%= post.body %><cite><%= post.quoteauthor %></cite></blockquote>
                <div class="details"> <span class="icon-quote"><a href="#"><%= post.created_at.strftime("%A %d. %Y") %></a></span> <span class="likes"><a href="#" class="likeThis">27</a></span> <span class="comments"><a href="#">4</a></span> </div>
              </div>
          <% elsif post.posttype.to_sym == :video %>
              <div class="post format-video box">
                <div class="video frame">
                  <% url = post.url %>
                  <% if post.url.include? "www.youtube.com" %>
                      <% url.sub!('watch?v=', 'embed/') %>
                  <% end %>
                  <iframe src="<%= url %>" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
                <h2 class="title"><a href="post.html"><%= post.title %></a></h2>
                <p><%= post.body %></p>
                <div class="details"> <span class="icon-video"><a href="#"><%= post.created_at.strftime("%A %d. %Y") %></a></span> <span class="likes"><a href="#" class="likeThis">18</a></span> <span class="comments"><a href="#">1</a></span> </div>
              </div>
          <% elsif post.posttype.to_sym == :music %>
              <div class="post format-audio box">
                <div class="audio-wrapper">
                  <div class="vinyl">
                    <dl>
                      <% img1 = image_tag "vinyl.png",alt: "", class: "highlight" %>
                      <% img2 = image_tag "art/artwork.png",alt: "" %>
                      <dt class="art">  <%= img1 %><%= img2 %> </dt>
                      <dd class="song">
                        <div class="icon-song"></div>
                        <%= post.song %></dd>
                      <dd class="artist">
                        <div class="icon-artist"></div>
                        <%= post.artist %></dd>
                      <dd class="album">
                        <div class="icon-album"></div>
                        <%= post.album %></dd>
                    </dl>
                  </div>
                  <div class="clear"></div>
                  <div class="audio">
                    <audio controls="" preload="none" src="<%= post.url %>"></audio>
                  </div>
                </div>
                <p><%= post.body %></p>
                <div class="details"> <span class="icon-audio"><a href="#"><%= post.created_at.strftime("%A %d. %Y") %></a></span> <span class="likes"><a href="#" class="likeThis">20</a></span> <span class="comments"><a href="#">1</a></span> </div>
              </div>
          <% end %>
      <% end %>


      <div class="post format-chat box">
        <h2 class="title"><a href="post.html">Two Best Friends</a></h2>
        <ul>
          <li><strong>Barney:</strong> Stop pining over Marshall and Lily! Have some self respect. Now put this fiver in your mouth so that stripper with the lazy eye can vacuum it up with&#8230;</li>
          <li><strong>Ted:</strong> Barney! I&#8217;m allowed to miss them alright? They&#8217;re my two best friends.</li>
          <li><strong>Barney:</strong> I&#8217;m your two best friends!</li>
        </ul>
        <div class="details"> <span class="icon-chat"><a href="#">June 13, 2045</a></span> <span class="likes"><a href="#" class="likeThis">5</a></span> <span class="comments"><a href="#">0</a></span> </div>
      </div>
    </div>
  </div>
  <div id="navigation">
    <div class="nav-previous"><a href="#" ><span class="meta-nav-prev">&larr; Older posts</span></a></div>
  </div>
</div>
<div class="footer-wrapper">
  <div id="footer" class="four">
    <div id="first" class="widget-area">
      <div class="widget widget_search">
        <h3 class="widget-title">Search</h3>
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="type and hit enter" onFocus="this.value=''" onBlur="this.value='type and hit enter'"/>
        </form>
      </div>
      <div class="widget widget_archive">
        <h3 class="widget-title">Archives</h3>
        <ul>
          <li><a href="#">September 2045</a> (6)</li>
          <li><a href="#">August 2045</a> (2)</li>
          <li><a href="#">July 2045</a> (2)</li>
          <li><a href="#">June 2045</a> (4)</li>
          <li><a href="#">May 2045</a> (3)</li>
          <li><a href="#">January 2045</a> (1)</li>
        </ul>
      </div>
    </div>
    <div id="second" class="widget-area">
      <div id="twitter-2" class="widget widget_twitter">
        <h3 class="widget-title">Twitter</h3>
        <div id="twitter-wrapper">
          <div id="twitter"></div>
          <span class="username"><a href="#">&rarr; Follow @elemisdesign</a></span> </div>
      </div>
    </div>
    <div id="third" class="widget-area">
      <div id="example-widget-3" class="widget example">
        <h3 class="widget-title">Popular Posts</h3>
        <ul class="post-list">
          <li>
            <div class="frame"> <a href="#"><%= image_tag "art/s1.jpg",alt: "" %></a> </div>
            <div class="meta">
              <h6><a href="#">Charming Winter</a></h6>
              <em>28th Sep 2045</em> </div>
          </li>
          <li>
            <div class="frame"> <a href="#"><%= image_tag "art/s2.jpg",alt: "" %></a> </div>
            <div class="meta">
              <h6><a href="#">Trickling Stream</a></h6>
              <em>5th Sep 2045</em> </div>
          </li>
          <li>
            <div class="frame"> <a href="#"><%= image_tag "art/s3.jpg",alt: "" %></a> </div>
            <div class="meta">
              <h6><a href="#">Morning Glory</a></h6>
              <em>26th Sep 2045</em> </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="fourth" class="widget-area">
      <div class="widget">
        <h3 class="widget-title">Flickr</h3>
        <ul class="flickr-feed">
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="site-generator-wrapper">
  <div class="site-generator">Copyright Simon Bailey 2015. All rights reserved // Design by <a href="http://elemisfreebies.com">elemis</a>.</div>
</div>
<%= javascript_include_tag "scripts" %>