<div class="blog-wrap">
  <div class="blog-grid">
    <% @posts.each do |post| %>
        <% case post.posttype.to_sym%>
        <% when :text %>
            <%= render partial: 'posts/text_post', locals: {post: post, type: :home} %>
        <% when :image %>
            <%= render partial: 'posts/image_post', locals: {post: post, type: :home} %>
        <% when :quote %>
            <%= render partial: 'posts/quote_post', locals: {post: post, type: :home} %>
        <% when :video %>
            <%= render partial: 'posts/video_post', locals: {post: post, type: :home} %>
        <% when :music %>
            <%= render partial: 'posts/music_post', locals: {post: post, type: :home} %>
        <% when :dialogue %>
            <%= render partial: 'posts/dialogue_post', locals: {post: post, type: :home} %>
        <% end %>
    <% end %>
  </div>
</div>
<div id="navigation">
  <div class="nav-previous"><a href="#" ><span class="meta-nav-prev">&larr; Older posts</span></a></div>
</div>

