  <div class="blog-wrap">
    <div class="blog-grid">
      <% @posts.each do |post| %>

          <% if post.posttype.to_sym == :text %>
              <div class="post format-standard box">
                <h2 class="title"><a href="post.html"><%= post.title %></a></h2>
                <% lines = post.body.split(13.chr+10.chr) %>
                <% lines.each do |line|  %>
                    <p><%= line %></p>
                <% end  %>
                <%= render partial: 'home/post_footer', locals: {post: post, icon: "icon-standard"} %>
              </div>

          <% elsif post.posttype.to_sym == :image %>
              <div class="post format-image box">
                <% images = Pic.where("post_id = ?", post.id) %>
                <% if images.size > 0 %>
                <div class="frame"> <%= link_to (image_tag (images[0].image.url(:small)), alt: ""), post %> </div>
                <% end %>
                <h2 class="title"><%= link_to post.title, post %></h2>
                <p><%= post.body %></p>
                <%= render partial: 'home/post_footer', locals: {post: post, icon: "icon-image"} %>
              </div>

          <% elsif post.posttype.to_sym == :quote %>
              <div class="post format-quote box">
                <blockquote><%= post.body %><cite><%= post.quoteauthor %></cite></blockquote>
                <%= render partial: 'home/post_footer', locals: {post: post, icon: "icon-quote"} %>
              </div>

          <% elsif post.posttype.to_sym == :video %>
              <div class="post format-video box">
                <div class="video frame">
                  <% url = post.url %>
                  <% if post.url.include? "www.youtube.com" %>
                      <% url.sub!('watch?v=', 'embed/') %>
                  <% end %>
                  <iframe src="<%= url %>" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
                <h2 class="title"><a href="post.html"><%= post.title %></a></h2>
                <p><%= post.body %></p>
                <%= render partial: 'home/post_footer', locals: {post: post, icon: "icon-video"} %>
              </div>

          <% elsif post.posttype.to_sym == :music %>
              <div class="post format-audio box">
                <div class="audio-wrapper">
                  <div class="vinyl">
                    <dl>
                      <% img1 = image_tag "vinyl.png",alt: "", class: "highlight" %>
                      <% img2 = image_tag "art/artwork.png",alt: "" %>
                      <dt class="art">  <%= img1 %><%= img2 %> </dt>
                      <dd class="song">
                        <div class="icon-song"></div>
                        <%= post.song %></dd>
                      <dd class="artist">
                        <div class="icon-artist"></div>
                        <%= post.artist %></dd>
                      <dd class="album">
                        <div class="icon-album"></div>
                        <%= post.album %></dd>
                    </dl>
                  </div>
                  <div class="clear"></div>
                  <div class="audio">
                    <audio controls="" preload="none" src="<%= post.url %>"></audio>
                  </div>
                </div>
                <p><%= post.body %></p>
                <%= render partial: 'home/post_footer', locals: {post: post, icon: "icon-audio"} %>
              </div>

          <% elsif post.posttype.to_sym == :dialogue %>
              <% lines = post.body.split(13.chr+10.chr) %>
              <div class="post format-chat box">
                <h2 class="title"><a href="post.html"><% post.title %></a></h2>
                <ul>
                  <% lines.each do |line|  %>
                      <% split = line.split( ':', 2 ) %>
                      <li><strong><%= split[0].to_s + ':' %></strong><%= split[1] unless split[1] == nil %></li>
                  <% end  %>
                </ul>
                <%= render partial: 'home/post_footer', locals: {post: post, icon: "icon-chat"} %>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
  <div id="navigation">
    <div class="nav-previous"><a href="#" ><span class="meta-nav-prev">&larr; Older posts</span></a></div>
  </div>

