<% pics = Pic.where(post_id: @post.id) %>

<% if pics.size > 0 %>
    <div class="main-image">
      <div class="outer"> <span class="inset"><%= link_to (image_tag (pics[0].image.url(:medium)), alt: ""), pics[0].image.url(:large) %></span> </div>
    </div>
<% end %>

<div class="content">
  <%= render partial: 'posts/image_post', locals: {post: @post, type: :full} %>
  <div id="comment-wrapper" class="box">
    <div id="comments">
      <h3 id="comments-title"><%= @response %>"<%= @post.title %>"</h3>
      <% @comments.each do |comment| %>
          <%= render partial: 'post_comments/comment', locals: {comment: comment.comment, indent: comment.indent} %>
      <% end %>
    </div>
    <%= render partial: 'post_comments/new_comment', locals: {comment: @post_comment, post_id: @post.id, comment_id: nil} %>
  </div>
</div>
<%= render partial: 'posts/sidebar' %>

