<% pics = Pic.where(post_id: @post.id) %>

<% if pics.size > 0 %>
    <div class="main-image">
      <div class="outer"> <span class="inset"><%= link_to (image_tag (pics[0].image.url(:medium)), alt: ""), pics[0].image.url(:large) %></span> </div>
    </div>
<% end %>

<div class="content">
  <%= render partial: 'posts/image_post', locals: {post: @post, type: :full} %>
  <div id="comment-wrapper" class="box">
    <div id="comments">
      <h3 id="comments-title"><%= @response %>"<%= @post.title %>"</h3>
      <%= render partial: 'post_comments/comment', locals: {node: @comments, indent: false} %>
    </div>
    <%= render partial: 'post_comments/new_comment', locals: {comment: @post_comment, post_id: @post.id, comment_id: nil} %>
  </div>
</div>
<%= render partial: 'posts/sidebar' %>

