<div class="content">
  <% type = @post.posttype.to_sym%>
  <% if type == :text %>
      <%= render partial: 'posts/text_post', locals: {post: @post, type: :partial} %>
  <% elsif type == :image %>
      <%= render partial: 'posts/image_post', locals: {post: @post, type: :partial} %>
  <% elsif type == :quote %>
      <%= render partial: 'posts/quote_post', locals: {post: @post, type: :partial} %>
  <% elsif type == :video %>
      <%= render partial: 'posts/video_post', locals: {post: @post, type: :partial} %>
  <% elsif type == :music %>
      <%= render partial: 'posts/music_post', locals: {post: @post, type: :partial} %>
  <% elsif type == :dialogue %>
      <%= render partial: 'posts/dialogue_post', locals: {post: @post, type: :partial} %>
  <% end %>
  <div id="comment-wrapper" class="box">
    <div id="comments">
      <h3 id="comments-title"><%= @response %>"<%= @post.title %>"</h3>
      <%= render partial: 'post_comments/comment', locals: {node: @comments, indent: false, reply: nil} %>
    </div>
    <%= render partial: 'post_comments/new_comment', locals: {comment: @post_comment, post_id: @post.id, comment_id: nil} %>
  </div>
</div>
<%= render partial: 'posts/sidebar' %>

