  <div class="content">
    <div class="box">
      <h1 class="title"><%= @post.title %></h1>
      <% lines = @post.body.split("|") %>
      <% pics = Pic.where("post_id = ?", @post.id) %>
      <% lines.each_with_index do |line, idx| %>
          <p><%= line %></p>
          <% if idx < pics.size %>
              <div class="outer none"><span class="inset"><%= link_to (image_tag (pics[idx].image.url(:medium)), alt: ""), pics[idx].image.url(:large) %></span></div>
          <% end %>
      <% end %>
    </div>



    <div id="comment-wrapper" class="box">
      <div id="comments">
        <h3 id="comments-title">3 Responses to "<%= @post.title %>"</h3>
        <ol id="singlecomments" class="commentlist">

          <% @comments.each do |comment| %>


          <li class="comment">
            <div class="comment">
              <div class="comment-author vcard user frame"> <%= image_tag "avatar.jpg", alt: "", class: "avatar avatar-70 photo", width: 70, height: 70 %> </div>
              <div class="message"> <span class="reply-link"><a class="comment-reply-link" href="#">Reply</a></span>
                <div class="info">
                  <h2><%= comment.name %></h2>
                  <span class="meta">September 13, 2045 at 12:32 pm</span> </div>
                <div class="comment-body ">
                  <p><%= comment.body %></p>
                </div>
                <span class="edit-link"></span> </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </li>


          <% end %>

          <li class="comment">
            <div class="comment">
              <div class="comment-author vcard user frame"> <%= image_tag "avatar.jpg", alt: "", class: "avatar avatar-70 photo", width: 70, height: 70 %> </div>
              <div class="message"> <span class="reply-link"><a class="comment-reply-link" href="#">Reply</a></span>
                <div class="info">
                  <h2>Laura</h2>
                  <span class="meta">September 13, 2045 at 1:26 pm</span> </div>
                <div class="comment-body ">
                  <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
                <span class="edit-link"></span> </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <ul class='children'>
              <li class="comment even depth-2" id="li-comment-5">
                <div id="comment-5" class="com-wrap">
                  <div class="comment-author vcard user frame"> <%= image_tag "avatar.jpg", alt: "", class: "avatar avatar-70 photo", width: 70, height: 70 %> </div>
                  <div class="message"> <span class="reply-link"><a class="comment-reply-link" href="#">Reply</a></span>
                    <div class="info">
                      <h2>Jason</h2>
                      <span class="meta"> September 13, 2045 at 1:27 pm </span> </div>
                    <div class="comment-body ">
                      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor.</p>
                    </div>
                    <span class="edit-link"></span> </div>
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
              </li>
            </ul>
          </li>
        </ol>
      </div>
      <div id="comment-form" class="comment-form">
        <div id="respond">
          <h3 id="reply-title">Leave a Reply</h3>



          <p class="comment-notes">Your email address will not be published. Required fields are marked <span class="required">*</span></p>
          <%= form_for @post_comment, id: "commentform" do |f| %>
              <p class="comment-form-author">
                <%= f.label :name, for: :author %>
                <span class="required">*</span>
                <%= f.text_field :name, name: "author", id: "author", type:"text" %>
              </p>
              <p class="comment-form-email">
                <%= f.label :email, for: :email %>
                <span class="required">*</span>
                <%= f.text_field :email, type:"text" %>
              </p>
              <p class="comment-form-url">
                <%= f.label :website, for: :website %>
                <%= f.text_field :website, type:"text" %>
              </p>
              <p class="comment-form-comment">
                <%= f.label "Comment", for: :body %>
                <%= f.text_area :body, id: "comment", name: "comment", size: "45x8" %>
              </p>
              <p class="form-submit">
                <%= f.submit 'Post Comment', name: "submit", type: "submit", id: "submit", style: "opacity: 1;" %>
              </p>
          <% end %>
        </div>
      </div>
    </div>








  </div>











  <div class="sidebar box">
    <div class="sidebox widget">
      <%= render partial: 'home/popular_post' %>
    </div>
    <div class="sidebox widget">
      <h3 class="widget-title">Search</h3>
      <form class="searchform" method="get" action="#">
        <input type="text" name="s" value="type and hit enter" onFocus="this.value=''" onBlur="this.value='type and hit enter'"/>
      </form>
    </div>
    <div class="sidebox widget">
      <h3 class="widget-title">Custom Text</h3>
      <div>Suspendisse eu odio quis elit ultrice commodo tempor eget arcu. Sedur aliquet posuere lectus aliquam iaculi. Curabitur a risus metus. In ut lorem nisl, et adipiscing sapien. Donec sed risus tristiq scelerisque. </div>
    </div>
    <div class="sidebox widget">
      <h3 class="widget-title">Categories</h3>
      <ul>
        <li><a href="#">Detektivbyrån</a></li>
        <li><a href="#">Flowers</a></li>
        <li><a href="#">Funny</a></li>
        <li><a href="#">Journal</a></li>
        <li><a href="#">Landscape</a></li>
        <li><a href="#">Nature</a></li>
        <li><a href="#">Photography</a></li>
        <li><a href="#">Video</a> </li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
