<h3><%= @post.title %></h3>
<small><%= @post.created_at.strftime("%b %d. %Y") %></small>
<p><%= @post.body %></p>
<p>Category: <%= @post.category.name %></p>
<p><%= link_to "Back", posts_path %></p>