<div class="content">
  <div class="box">
    <h1 class="title"><%= @post.title %></h1>
    <% lines = @post.body.split("|") %>
    <% pics = Pic.where("post_id = ?", @post.id) %>
    <% lines.each_with_index do |line, idx| %>
        <p><%= line %></p>
        <% if idx < pics.size %>
            <div class="outer none"><span class="inset"><%= link_to (image_tag (pics[idx].image.url(:medium)), alt: ""), pics[idx].image.url(:large) %></span></div>
        <% end %>
    <% end %>
  </div>
  <div id="comment-wrapper" class="box">
    <div id="comments">
      <h3 id="comments-title">3 Responses to "<%= @post.title %>"</h3>
      <ol id="singlecomments" class="commentlist">
        <% @comments.each do |comment| %>
            <%= render partial: 'post_comments/comment', locals: {comment: comment.comment, indent: comment.indent} %>
        <% end %>
      </ol>
    </div>
    <%= render partial: 'post_comments/new_comment', locals: {comment: @post_comment, post_id: @post.id, comment_id: nil} %>
  </div>
</div>
<div class="sidebar box">
  <div class="sidebox widget">
    <%= render partial: 'home/popular_post' %>
  </div>
  <div class="sidebox widget">
    <h3 class="widget-title">Search</h3>
    <form class="searchform" method="get" action="#">
      <input type="text" name="s" value="type and hit enter" onFocus="this.value=''" onBlur="this.value='type and hit enter'"/>
    </form>
  </div>
  <div class="sidebox widget">
    <h3 class="widget-title">Custom Text</h3>
    <div>Suspendisse eu odio quis elit ultrice commodo tempor eget arcu. Sedur aliquet posuere lectus aliquam iaculi. Curabitur a risus metus. In ut lorem nisl, et adipiscing sapien. Donec sed risus tristiq scelerisque. </div>
  </div>
  <div class="sidebox widget">
    <h3 class="widget-title">Categories</h3>
    <ul>
      <li><a href="#">Detektivbyrån</a></li>
      <li><a href="#">Flowers</a></li>
      <li><a href="#">Funny</a></li>
      <li><a href="#">Journal</a></li>
      <li><a href="#">Landscape</a></li>
      <li><a href="#">Nature</a></li>
      <li><a href="#">Photography</a></li>
      <li><a href="#">Video</a> </li>
    </ul>
  </div>
</div>
<div class="clear"></div>
