<!DOCTYPE html>
<html lang="en">

<head>
  <title>Simon's Blog</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700'>
  <%= javascript_include_tag "jquery-1.7.2.min", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "ddsmoothmenu", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "retina", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "selectnav", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "jquery.masonry.min", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "jquery.fitvids", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "jquery.backstretch.min", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "mediaelement.min", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "mediaelementplayer.min", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "jquery.dcflickr.1.0", 'data-turbolinks-track' => true %>
</head>

<body>
<script>$.backstretch("<%= image_url("bg/#{rand(1..9)}.jpg") %>");</script>
<div class="scanlines"></div>
<div class="header-wrapper opacity">
  <div class="header">
    <div class="logo"> <%= link_to (image_tag "name.png"), root_path %> </div>
    <div id="menu-wrapper">
      <div id="menu" class="menu">
        <ul id="tiny">
          <li class="active"><%= link_to "Home", root_path %>
            <ul>
              <li><%= link_to "Home", root_path %></li>
            </ul>
          </li>
          <li><%= link_to "Admin", admin_dashboard_path %>
            <ul>
              <li><%= link_to "Admin Area", admin_dashboard_path %></li>
            </ul>
          </li>
          <li>
            <%= link_to "Contact", pages_contact_path %>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<% flash.each do |key, value| %>
    <P><%= value %></P>
<% end %>

<div class="wrapper">
  <div class="intro">When the power of love overcomes the love of power, the world will know peace.</div>
  <div class="intro">~ William Gladstone (1809-1898)</div>
  <ul class="social">
    <li><a class="rss" href="https://www.rss.com"></a></li>
    <li><a class="facebook" href="https://www.facebook.com"></a></li>
    <li><a class="twitter" href="https://twitter.com"></a></li>
    <li><a class="pinterest" href="https://uk.pinterest.com"></a></li>
    <li><a class="dribbble" href="https://dribbble.com"></a></li>
    <li><a class="flickr" href="https://www.flickr.com"></a></li>
    <li><a class="linkedin" href="https://uk.linkedin.com"></a></li>
  </ul>

  <%= yield %>

  <div class="clear"></div>
</div>

<%= render partial: 'home/main_page_footer' %>

<%= javascript_include_tag "scripts" %>

</body>
</html>
